*{
    font-family: 'montserrat';
    font-size: 15px;
}

body{
    background-color: #e0e0e0;
}

.bg-white{
    background-color: white;
}

.my-bell i {
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    color: #8edafc;
}

.my-aside{
    width: 40%;
    height: 840px;
}

.my-bell{
    height: 70px;
}

.my-main-chat{
    width: 60%;
    height: 840px;
}

.profile-pic{
    width: 60px;
}

.active-chat{
    height: calc(100vh - 229px);
}

.background-image{
    height: 100%;
    width: 100%;
    background-image: url('../img/mine.jpg');
}

.bg-light-grey{
    background-color:#eaeaea;
}

.bg-light-blue{
    background-color: 
    #8edafc;
}

.current-contact, .my-account{
    height: 70px;
    border: 1px solid lightgrey;
}

.contact-card{
    padding: .5rem;
    height: 75px;
    border: 1px solid #eaeaea;
}

.message-bar{
    height: 70px;
}

.first-message-sent, .message-sent{
    background-color: 
    #d5f9ba;
    width: 100px;
    height: 40px;
    margin-right: 100px;
}

.first-message-sent{
    margin-top: 100px;
}

.message-sent, .message-recived{
    margin-top: 20px;
}

.message-recived{
    background-color: 
    #ffffff;
    margin-left: 100px;
    width: 100px;
    height: 40px;
}

.active{
    background-color: rgb(177, 177, 177);
}

#boolzapp{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#my-contacts{
    height: 650px;
    overflow-y: scroll;
    padding-right: 5px;
}

